services:
  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:4000/api
    ports:
      - "5173:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./server
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URL=mongodb://mongo:27017/taskboard
      - ACCESS_TOKEN_SECRET=change_me_strong_1
      - REFRESH_TOKEN_SECRET=change_me_strong_2
      - ACCESS_TOKEN_TTL=15m
      - REFRESH_TOKEN_TTL=7d
      - ADMIN_LOGIN=admin
      - ADMIN_PASSWORD=admin123
    depends_on:
      - mongo
    volumes:
      - ./server:/app
      - /app/node_modules

  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
